
.example-full-width {
    width: 100%;
  }
  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  .button-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }