<mat-toolbar>User Registration</mat-toolbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <mat-card>
        <div class="row">
          <div class="col-md-10">
            <p>User Registration</p>
          </div>
          <div class="col-md-2">
            <button class="btn" style="float:right;" mat-raised-button color="primary" routerLink="../users" routerLinkActive="active">Save</button>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <div class="example-container">
              <mat-form-field>
                <input matInput placeholder="Enter your Name" [formControl]="Name" required>
                <mat-error *ngIf="Name.invalid">{{getErrorName()}}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-3">
            <div class="example-container">
              <mat-form-field>
                <input matInput placeholder="Enter your email" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-3">
            <div class="example-container">
              <mat-form-field>
                <input matInput placeholder="Enter your Phone.no" [formControl]="mobile" required>
                <mat-error *ngIf="mobile.invalid">{{getErrorMobile()}}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="example-container">
              <mat-form-field>
                <input matInput placeholder="Create new password" [formControl]="createnewpassword" required [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                <mat-error *ngIf="createnewpassword.invalid">{{getpasswordMessage()}}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-6">
            <div class="example-container">
              <mat-form-field>
                <input matInput placeholder="Confirm password" [formControl]="confirmpassword" requried [type]="hide1 ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility' : 'visibility_off'}}</mat-icon>
                <mat-error *ngIf="confirmpassword.invalid">{{getpassword1Message()}}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<router-outlet></router-outlet>