.card{
    border-radius: 4px;
    border-left-style: solid;
    border-left-color: #4285f4 ;
    border-left-width: 5px;
    padding: 10px;
    margin-top: 10px;
}
.search{
    border-radius:4px;
}
.packs h6{
    font-size:13px;
    font-weight: bold;
}
.packs{
    font-size:13px;
    font-weight:bold;
}
.editicon{
    background-color: #fbbc05;
    color: white;
    border-radius: 10px;
    font-size:  20px;
    float: right;
}
.litre h6{
    font-size: 12px;
    font-weight: bold;
}
.ml h6{
    font-size: 12px;
    font-weight: bold;
}
.check{
    float: right;
    color: #fbbc05;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
    width: 100%;
}
.add{
    color:#01a501;
}