<mat-toolbar>Products</mat-toolbar>
<div class="col-md-12 slinput" ng-init="">
  <i class="fa fa-search left-icon"></i>
  <input placeholder="Search" ng-model="searchInputVal" />
  <i ng-class="{'fa' : true, 'fa-close' : true, 'right-icon' : true, active : (searchInputVal.length > 0)}" ng-click="searchInputVal = ''"></i>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <mat-card class="card">
        <div class="row">
          <div class="col-md-3">
            <img src="/assets/images/milk.png" style="width: 70px;height: 70px;">
          </div>
          <div class="col-md-4 packs">
            <h6>Full Cream Milk</h6>
            <p>Heritage</p>
          </div>
          <div class="col-md-5">
            <button (click)="!editMode=true">
              <i class="material-icons editicon">mode_edit</i>
            </button>
            <button (click)="!editMode=false">
              <i class="material-icons check">check_circle</i>
            </button>
          </div>
        </div>
        <div class="row litre">
          <div class="col-md-6">
            <form class="litre">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="1 Litre" [disabled]="!editMode" [(ngModel)]="litre" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </form>
          </div>
          <div class="col-md-6 text-right">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="$" [disabled]="!editMode" [(ngModel)]="$" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </div>
        </div>
        <div class="row ml">
          <div class="col-md-6 ">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="ml" [disabled]="!editMode" [(ngModel)]="ml" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </div>
          <div class="col-md-6 text-right">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="$" [disabled]="!editMode" [(ngModel)]="price" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="card">
        <div class="row">
          <div class="col-md-3">
            <img src="/assets/images/milk.png" style="width: 70px;height: 70px;">
          </div>
          <div class="col-md-4 packs">
            <h6>Full Cream Milk</h6>
            <p>Heritage</p>
          </div>
          <div class="col-md-5">
            <i class="material-icons check">check_circle</i>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <input matInput value="1 Litre">
              </mat-form-field>
            </form>
          </div>
          <div class="col-md-6">
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <input matInput value="$45">
              </mat-form-field>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <input matInput value="1 Litre">
              </mat-form-field>
            </form>
          </div>
          <div class="col-md-6">
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <input matInput value="$45">
              </mat-form-field>
            </form>
          </div>
        </div>
        <i class="material-icons add">add_circle</i>
      </mat-card>
    </div>
  </div>
</div>
<router-outlet></router-outlet>