<mat-toolbar>Users</mat-toolbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" (click)="onSelect(item)" *ngFor="let item of list">
            <mat-card>
                <div class="row">
                    <div class="col-md-6 personal">
                        <h5>Personal Details</h5>
                    </div>
                    <div class="col-md-6 text-right">
                       <a><i class="material-icons editicon" routerLink="../personaldetails" routerLinkActive="active">mode_edit</i></a> 
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 details">
                        <h6>{{item.name}}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <i class="material-icons">message</i>
                    </div>
                    <div class="col-md-4">
                        <p>{{item.email}}</p>
                    </div>
                    <div class="col-md-1">
                        <i class="material-icons">phone</i>
                    </div>
                    <div class="col-md-4">
                        {{item.mobile}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <i class="material-icons">location_on</i>
                    </div>
                    <div class="col-md-11">
                        <p>{{item.address}}</p>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-md-6">
            <mat-card>
                <div class="row">
                    <div class="col-md-6 paymentdue">
                        <ul>
                            <li>Payment Due Date</li>
                            <li>06 April' 18</li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-right">
                        <h5>Payment Due</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn" mat-raised-button color="primary">User Histroy</button>
                    </div>
                    <div class="col-md-8 text-right money">
                        $ 1500/-
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-8 payment">
                        <ul>
                            <li>from</li>
                            <li>
                                <i class="material-icons calenders" style="color: #fbbc05;">today</i>
                            </li>
                            <li>06 April' 18</li>
                            <li>to</li>
                            <li>
                                <i class="material-icons calenders" style="color: #fbbc05;">today</i>
                            </li>
                            <li>06 April' 18</li>
                        </ul>
                    </div>
                    <div class="col-md-4 text-right">
                        <button class="btn" mat-raised-button color="primary">Hold User</button>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 milk">
            <h5>Milk Subscription Details</h5>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <mat-datepicker-toggle class="datepicker" matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <mat-card>
                <div class="row">
                    <div class="col-md-3">
                        <img src="/assets/images/milk.png" style="width: 70px;height: 70px;">
                    </div>
                    <div class="col-md-6 fullmilk">
                        <h6>Full Cream Milk</h6>
                        <h6>Heritage</h6>
                        <h6>500ml</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h6>Quantity</h6>
                        <h6>2</h6>
                    </div>
                    <div class="col-md-8 text-right calender">
                        <ul>
                            <li>
                                <i class="material-icons calenders" style="color: #fbbc05;">today</i>
                            </li>
                            <li>06/04/18</li>
                        </ul>
                        <ul>
                            <li>
                                <i class="material-icons calenders" style="color: #fbbc05;">today</i>
                            </li>
                            <li>06/04/18</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <h6>$ 243</h6>
                    </div>
                    <div class="col-md-6 text-right everday">
                        <button style="color:#3CAE68;" mat-button color="primary">Everday</button>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card>
                <div class="row">
                    <div class="col-md-3">
                        <img src="/assets/images/milk.png" style="width: 70px;height: 70px;">
                    </div>
                    <div class="col-md-6 fullmilk">
                        <h6>Full Cream Milk</h6>
                        <h6>Heritage</h6>
                        <h6>500ml</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h6>Quantity</h6>
                        <h6>2</h6>
                    </div>
                    <div class="col-md-8 text-right calender">
                        <ul>
                            <li>
                                <i class="material-icons calenders" style="color: #fbbc05;">today</i>
                            </li>
                            <li>06/04/18</li>
                        </ul>
                        <ul>
                            <li>
                                <i class="material-icons calenders" style="color: #fbbc05;">today</i>
                            </li>
                            <li>06/04/18</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <h6>$ 243</h6>
                    </div>
                    <div class="col-md-6 text-right everday">
                        <button style="color:#3CAE68;" mat-button color="primary">Everday</button>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-right">
                <button mat-mini-fab class="add">
                    <mat-icon>add</mat-icon>
                </button>
        </div>
    </div>
</div>