.search{
    padding: 10px;
}
.card{
    height:auto;
    width:auto;
    margin-top:5px;
    border-radius: 2px;
    background-color:whitesmoke; 
}
.name{
    color: #fbbc05;
}
.name h5{
    font-size:30px;
}
.editicon{
    background-color: #fbbc05;
    color: white;
    border-radius: 10px;
    font-size:17px;
    margin-top: 10px;
}
.address h6{
    color: lightgrey;
}
.payment h4{
    font-size: 24px;
    color: #d23c30;
}
.add{
    background-color:  #fbbc05 ;
    color: #ffffff ;
    margin: 10px;
    margin-right: 0px;
    width: 40px;
 }