.slinput input {
    padding:10px;
    width:100%;
    border:1px solid #ccc;
    padding-left:31px;
    padding-right:30px;
    color:black;
    font-family: arial,sans-serif;
    font-size: 16px;
  }
  /* Remove IE10's “clear field” X button */
  .slinput input::-ms-clear {
      display: none;
  }
  .slinput input:focus {
    border:1px solid #4d90fe;
  }
  
  /* left side icon style (search icon) */
  .slinput .left-icon {
    position:absolute;
    left:25px;
    top:15px;
  }
  .slinput .fa {
    color:#444;
    font-size: 16px;
  }
  .slinput .fa-close {
    color:#ccc;
  }
  .slinput .active {
    color:#555;
  }
  /* right side icon style (search icon) */
  .slinput .right-icon {
    position:absolute;
    right:10px;
    top:11px;
    cursor:pointer;
  }
  .slinput {
    position:relative;
    width:100%;
  }
.card{
  margin-top: 10px;
}
.name{
    color: #fbbc05;
}
.name h5{
    font-size:30px;
}
.editicon{
    background-color: #fbbc05;
    color: white;
    border-radius: 10px;
    font-size:17px;
    margin-top: 10px;
}
.address h6{
    color: lightgrey;
}
.payment h4{
    font-size: 24px;
    color: #d23c30;
}
.add{
    background-color:  #fbbc05 ;
    color: #ffffff ;
    margin: 10px;
    margin-right: 0px;
    width: 40px;
 }