<mat-toolbar>Dashboard</mat-toolbar>
<div class="example-container">
    <mat-card class="card">
        <div class="row">
            <div class="col-md-6 icon">
                <mat-icon>home</mat-icon>
            </div>
            <div class="col-md-6 payments">
                <p>Incoming payments</p>
                <h4>$ 1500</h4>
            </div>
            <div class="col-md-6 dates">
                <ul>
                    <li>30 Mar' 18</li>
                    <li>30 Mar' 18</li>
                    <li>30 Mar' 18</li>
                    <li>30 Mar' 18</li>
                </ul>
            </div>
            <div class="col-md-6 dates">
                <ul>
                    <li>$ 3720/-</li>
                    <li>$ 3720/-</li>
                    <li>$ 3720/-</li>
                    <li>$ 3720/-</li>
                </ul>
            </div>
        </div>
    </mat-card>
    <mat-card class="card1">
        <div class="row">
            <mat-toolbar>
                <div class="col-md-6 supplies">
                    <h1>
                        Upcoming Milk Supplies
                    </h1>
                    <p>
                        30 Mar' 18
                    </p>
                </div>
                <div class="col-md-6 text-right" style="color: #ffa503">
                    <i class="material-icons">print</i>
                </div>
            </mat-toolbar>
            <div class="col-md-4 Milk">
                <ul>
                    <li>Heritage Full Cream Milk</li>
                    <li>Heritage toned Milk</li>
                    <li>Heritage Full Cream Milk</li>
                    <li>Heritage toned Milk</li>
                </ul>
            </div>
            <div class="col-md-4 litre">
                <ul>
                    <li>1 Litre</li>
                    <li>1 Litre</li>
                    <li>1 Litre</li>
                    <li>1 Litre</li>
                </ul>
            </div>
            <div class="col-md-4 packets">
                <ul>
                    <li>120 Packets</li>
                    <li>120 Packets</li>
                    <li>120 Packets</li>
                    <li>120 Packets</li>
                </ul>
            </div>

            <button class="button" mat-raised-button>More Details</button>
        </div>
    </mat-card>
</div>
<router-outlet></router-outlet>