<mat-toolbar>Products</mat-toolbar>
<div class="col-md-12 slinput" ng-init="">
  <i class="fa fa-search left-icon"></i>
  <input placeholder="Search" ng-model="searchInputVal" />
  <i ng-class="{'fa' : true, 'fa-close' : true, 'right-icon' : true, active : (searchInputVal.length > 0)}" ng-click="searchInputVal = ''"></i>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <mat-card class="card">
        <div class="row">
          <div class="col-md-3">
            <img src="/assets/images/milk.png" style="width: 70px;height: 70px;">
          </div>
          <div class="col-md-4 packs">
            <h6>Full Cream Milk</h6>
            <p>Heritage</p>
          </div>
        </div>
        <hr>
        <div class="row litre">
            <div class="col-md-6">
              <h6>1 Litre</h6>
            </div>
            <div class="col-md-4 text-right">
              <h6>$45</h6>
            </div>
            <div class="col-md-2 icon">
              <i class="material-icons">cancel</i>
            </div>
          </div>
          <hr>
          <div class="row ml">
            <div class="col-md-6 ">
              <h6>500ml</h6>
            </div>
            <div class="col-md-4 text-right">
              <h6>$22</h6>
            </div>
            <div class="col-md-2 icon">
              <i class="material-icons">add_circle</i>
            </div>
          </div>
      </mat-card>
      </div>
      <div class="col-md-4">
      <mat-card class="card">
          <div class="row">
            <div class="col-md-3">
              <img src="/assets/images/milk.png" style="width: 70px;height: 70px;">
            </div>
            <div class="col-md-4 packs">
              <h6>Full Cream Milk</h6>
              <p>Heritage</p>
            </div>
          </div>
          <hr>
          <div class="row litre">
              <div class="col-md-6">
                <h6>1 Litre</h6>
              </div>
              <div class="col-md-4 text-right">
                <h6>$45</h6>
              </div>
              <div class="col-md-2 icon">
                <i class="material-icons">add_circle</i>
              </div>
            </div>
            <hr>
            <div class="row ml">
              <div class="col-md-6 ">
                <h6>500ml</h6>
              </div>
              <div class="col-md-4 text-right">
                <h6>$22</h6>
              </div>
              <div class="col-md-2 icon">
                <i class="material-icons">cancel</i>
              </div>
            </div>
        </mat-card>
        </div>
        <div class="col-md-4">
        <mat-card class="card">
            <div class="row">
              <div class="col-md-3">
                <img src="/assets/images/milk.png" style="width: 70px;height: 70px;">
              </div>
              <div class="col-md-4 packs">
                <h6>Full Cream Milk</h6>
                <p>Heritage</p>
              </div>
            </div>
            <hr>
            <div class="row litre">
                <div class="col-md-6">
                  <h6>1 Litre</h6>
                </div>
                <div class="col-md-4 text-right">
                  <h6>$45</h6>
                </div>
                <div class="col-md-2 icon">
                  <i class="material-icons">add_circle</i>
                </div>
              </div>
              <hr>
              <div class="row ml">
                <div class="col-md-6 ">
                  <h6>500ml</h6>
                </div>
                <div class="col-md-4 text-right">
                  <h6>$22</h6>
                </div>
                <div class="col-md-2 icon">
                  <i class="material-icons">add_circle</i>
                </div>
              </div>
          </mat-card>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-right">
            <a routerLink="../editproducts" routerLinkActive="active">
                <button mat-mini-fab class="check">
                    <mat-icon>check</mat-icon>
                </button>
            </a>
        </div>
    </div>
</div>
<router-outlet></router-outlet>