<mat-toolbar>Vendor Calender</mat-toolbar>
<div class="col-md-12 slinput" ng-init="">
    <i class="fa fa-search left-icon"></i> 
    <input placeholder="Search" ng-model="searchInputVal"/> 
    <i ng-class="{'fa' : true, 'fa-close' : true, 'right-icon' : true, active : (searchInputVal.length > 0)}" ng-click="searchInputVal = ''"></i>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 milk">
      <h5>Milk Subscription Details</h5>
    </div>
    <div class="col-md-4 text-right date">
      <mat-form-field>
        <mat-datepicker-toggle class="datepicker" matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <mat-card class="card">
        <div class="row">
          <div class="col-md-3">
            <img src="/assets/images/milk.png" style="width: 70px;height: 70px;">
          </div>
          <div class="col-md-4 packs">
            <h6>Full Cream Milk</h6>
            <ul>
              <li>Heritage</li>
              <li>203 Packs</li>
            </ul>
          </div>
          <div class="col-md-2 litre">
            <p>1lit</p>
          </div>
          <div class="co-md-3 money text-right">
            <h5>$1243/-</h5>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="card">
        <div class="row">
          <div class="col-md-3">
            <img src="/assets/images/milk.png" style="width: 70px;height: 70px;">
          </div>
          <div class="col-md-4 packs">
            <h6>Full Cream Milk</h6>
            <ul>
              <li>Heritage</li>
              <li>203 Packs</li>
            </ul>
          </div>
          <div class="col-md-2 litre">
            <p>1lit</p>
          </div>
          <div class="co-md-3 money text-right">
            <h5>$1243/-</h5>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="card">
        <div class="row">
          <div class="col-md-3">
            <img src="/assets/images/milk.png" style="width: 70px;height: 70px;">
          </div>
          <div class="col-md-4 packs">
            <h6>Full Cream Milk</h6>
            <ul>
              <li>Heritage</li>
              <li>203 Packs</li>
            </ul>
          </div>
          <div class="col-md-2 litre">
            <p>1lit</p>
          </div>
          <div class="co-md-3 money text-right">
            <h5>$1243/-</h5>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
<router-outlet></router-outlet>